// Colors

// Gray - main
$gray: #555;
// Gray - shades
$gray-2p: #fcfcfc;
$gray-5p: #f6f6f6;
$gray-10p: #eee;
$gray-20p: #ddd;
$gray-30p: #ccc;
$gray-40p: #bbb;
$gray-50p: #aaa;
$gray-60p: #999;
$gray-70p: #888;
$gray-80p: #777;
$gray-90p: #666;
$gray-100p: $gray;

// Orange - main
$orange: #ff612a;
// Orange - shades
$orange-10p: #fb7248;
$orange-20p: #fb815c;
$orange-30p: #fc9171;
$orange-40p: #fca186;
$orange-50p: #fcb099;
$orange-60p: #fdc0ad;
$orange-70p: #fdd0c1;
$orange-80p: #fee0d6;
$orange-90p: #feefea;
$orange-100p: $orange;

// Blue - main
$blue: #4290ff;
// Blue - shades
$blue-10p: #ebf4ff;
$blue-20p: #d8e9fe;
$blue-30p: #c4ddfe;
$blue-40p: #b1d3fd;
$blue-50p: #9dc7fd;
$blue-60p: #8abcfd;
$blue-70p: #77b2fc;
$blue-80p: #63a6fc;
$blue-90p: #509bfb;
$blue-100p: $blue;

// Green - main
$green: #69d025;
// Green - shades
$green-10p: #effaeb;
$green-20p: #dff6d7;
$green-30p: #cff1c3;
$green-40p: #c0ecaf;
$green-50p: #b0e79a;
$green-60p: #a0e388;
$green-70p: #91de74;
$green-80p: #81d95f;
$green-90p: #71d54c;
$green-100p: $green;

// White /LOL/
$white: #fff;

// Black
$black: #000;

// Red
$red: #ea010a;
// Red - shades
$red-70p: #ff4b56;

// Purple
$purple: #442396;

$cyan: #28aaba;

// Social Media colors
$youtube: #b70006;
$facebook: #3d5a95;
$twitter: #25ade9;
$gplus: #d9483b;
$linkedin: #007bb6;
