/*
 * Variables
 *
 * - Colored elements
 * - fonts
 * - ...
 */

// Views color-coding
$paid-views: $orange;
$owned-views: $green;
$earned-views: #28aaba;

// Likes/Dislikes
$likes: $red;
$dislikes: $purple;

// Text colors
$default-text: $gray;
$secondary-text: $gray-60p;
$hint-color: $gray-30p;

$disabled-element-color: $gray-20p;

// Font sizes
$font-family: 'Urban Grotesk';

// Snackbar settings
$snackbar-text-color: $white;
$snackbar-text-size: 16px;
$snackbar-background-color: $gray;
$snackbar-undo-text-color: $green-70p;
$snackbar-height: 48px;

// Buttons
$button-height: 30px;
$button-text-size: 12px;
$button-cta-height: 48px;
$button-cta-text-size: 16px;

// Grid settings
$grid-columns: 12;
