#loader
  %h1.txCenter Load WorkFlow from local file
  %hr/
  %ol#load_list
  .w50{:style => "position: absolute; left:250px"}
    %span You've selected:
    %span#select-result none
  %hr/
  %span#load.float_r.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{:role => "button"} Load
  %span#close.float_l.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{:role => "button"} Cancel
