#export
  %h1 Save WorkFlow to file
  %hr/
  %p Save current workflow to file. After saving Your workflow will be visible in load list.
  %label File name:
  %input#file_name{:required => "required", :type => "text", :value => ""}/
  %br/
  %br/
  %br/
  %br/
  %span#save.float_r.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{:role => "button"} Save
  %span#close.float_l.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{:role => "button"} Cancel
