/*doc
---
title: Buttons
name: buttons
category: components
---

*/

// Base Button class
.btn {
  user-select: none;
  transition: border-color 200ms, background-color 200ms, box-shadow 200ms;

  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family;
  font-size: $button-text-size;
  font-weight: 600;
  height: $button-height;
  line-height: $button-height;
  margin-bottom: 0; // For input.btn
  outline: none;
  padding: 0 8px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 80px;

  &:hover,
  &:focus {
    @include component-box-shadow;

    text-decoration: none;
  }

  &-disabled,
  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:active {
      box-shadow: none;

      background-color: $disabled-element-color!important;
      border-color: $disabled-element-color!important;
      color: $white!important;
      cursor: not-allowed!important;
    }
  }

  // if more than one, add a margin
  & + & {
    margin-left: 4px;
  }

  &-action {
    @include btn-color($white, $green, $green-80p);
    border-color: $green;
  }

  &-danger {
    @include btn-color($white, $red, $red-70p);
    border-color: $red;
  }

  &-mark {
    @include btn-color($blue, transparent, $blue-20p);
  }

  &-cancel {
    @include btn-color($gray-50p, transparent, $gray-20p);
  }

  &-normal {
    @include btn-color($gray, transparent, $gray-20p);
  }

  &-cta {
    @include btn-color($white, $orange, $orange-20p);
  }

  &-cta {
    @include btn-color($white, $orange, $orange-20p);

    &:not(.btn-cta-small) {
      font-size: $button-cta-text-size;
      height: $button-cta-height;
      line-height: $button-cta-height;
      padding: 0 24px;
    }
  }
}
