/*
 * SnackBar
 */
.snackbar {
  transition: opacity 150ms, bottom 300ms, top 300ms;

  background-color: $snackbar-background-color;
  border-radius: 2px;
  bottom: 40px;
  color: $snackbar-text-color;
  font-family: $font-family;
  font-size: $snackbar-text-size;
  font-weight: 600;
  height: $snackbar-height;
  left: 50px;
  line-height: $snackbar-height;
  max-width: 568px;
  min-width: 288px;
  opacity: 0;
  padding: 0 24px;
  position: fixed;
  z-index: 1000;

  &.undo {
    max-width: 668px;
    padding-right: 180px;

    .btn {
      background-color: transparent;
      border: none;
      border-radius: 0;
      color: $snackbar-undo-text-color;
      font-size: inherit;
      line-height: inherit;
      padding: 0 4px;
      position: absolute;
      right: 24px;
      text-transform: uppercase;
    }
  }

  &.top {
    bottom: initial;
    top: 40px;
  }

  &.right {
    left: initial;
    right: 40px;
  }

  &.in {
    bottom: 50px;
    opacity: 1;

    &.top {
      bottom: initial;
      top: 50px;
    }
  }

  &-flash {
    display: none;
  }
}

