<div id="conn">
    <h1>Connection properties</h1>
    <p>This is the basic connection edit form. You can only change displayed label and connection color.</p>
    <hr />
    <label>Label: </label><input id="name" type="text" name="" value="" /> <br />
    <label>Show label: </label> <input id="show_label" name="fields_in_body" type="checkbox" value=""/> <br />
    <hr /><br />
    <label>Background color: </label><input id="bg" type="text" name="" value="" /> <br /><br />
    
    <label>Source ID:</label><input id="source" type="text" name="" value="" disabled/> <br />
    <label>Target ID:</label><input id="target" type="text" name="" value="" disabled/> <br /><br />
    <hr />                        
    <span id="submit" class="float_r ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">Save</span>
    <span id="del"  class="float_r ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">Delete</span>
    <span id="close"  class="float_l ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">Cancel</span>
</div>
