<div id="edit">
    <h1>Edit item properties</h1>
    <hr />
        <label>Name: </label> <input id="name" type="text" name="" value="" /> <br />
        <label>Background color: </label> <input id="bg" type="text" name="" value="" /> <br />
        <label>Comment: </label> <input id="comment" name="comment" value="" /><br /><br /><br />
        
        <hr />
        <div id="add_fields">
            <div id="add_field_btn" class="ui-state-default ui-icon ui-icon-arrow-1-s" role="button"> </div>            
            <p>Select fields that item will contain in this workflow.</p>  
            <div id="fields"> </div>
        </div>
        <hr />
        <label>Show inside item </label> <input id="show_fields" name="fields_in_body" type="checkbox" value=""/> <br /><br />
    <span id="submit" class="float_r ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">Finish & Save</span>
    <span id="del"  class="float_r ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">Delete</span>
    <span id="close"  class="float_l ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">Cancel</span>
</div>
