<div id="loader">
    <h1 class="txCenter">Load WorkFlow from local file</h1>
    <hr />
        <ol id="load_list">
            
        </ol>
    <div class="w50" style="position: absolute; left:250px"><span>You've selected:</span> <span id="select-result">none</span></div>
    <hr />                
    <span id="load" class="float_r ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">Load</span>
    <span id="close"  class="float_l ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">Cancel</span>
</div>
