<div id="export">
    <h1>Save WorkFlow to file</h1>
    <hr />
    <p>Save current workflow to file. After saving Your workflow will be visible in load list.</p>
        <label> File name: </label>
        <input id="file_name" type="text" value="" required="required"/><br /><br /><br /><br />
        <span id="save" class="float_r ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">Save</span>
        <span id="close"  class="float_l ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">Cancel</span>
</div>