//colors
$white: white;
$whitesmoke: whitesmoke;
$black_50: rgba(0, 0, 0, 0.5);
$color_pickled_bluewood_approx: #2c3e50;
$color_pale_sky_approx: #617487;
$black: #000000;
$color_woodsmoke_approx: #111111;
$mine_shaft_95: rgba(50, 50, 50, 0.95);
$gray: gray;
$web_orange:  orange;

//colors
$black: black;
$white: #ffffff;
$mine_shaft_60: rgba(50, 50, 50, 0.6);
$color_lola_approx: #d8d0db;
$color_pickled_bluewood_approx: #2c3e50;
$color_bright_sun_approx: #feca40;
$color_tree_poppy_approx: #f39814;

//colors
$white: #ffffff;
$black:  black;
$mine_shaft_95: rgba(50, 50, 50, 0.95);

//colors
$black: black;
$white: #ffffff;
$mine_shaft_60: rgba(50, 50, 50, 0.6);
$color_lola_approx: #d8d0db;
$color_pickled_bluewood_approx: #2c3e50;
$color_bright_sun_approx: #feca40;
$color_tree_poppy_approx: #f39814;

//colors
$color_pickled_bluewood_approx: #2c3e50;
$black:  black;
$color_bright_sun_approx: #feca40;
$white: white;
