#pop_up hr {
    width: 100%;
    clear: both;
    display: block;
    margin: 10px 0;
    color: black;
}


#pop_up label {
    line-height: 28px;
    width: 30%;
    text-align: right;
    float: left;
}
#pop_up select {
    line-height: 28px;
    float: left;
    width: 50%;
    text-align: left;
    padding: 5px;
}


#pop_up input {
    float: left;
    width: 50%;
    text-align: left;
    padding: 5px;
}

#pop_up h1{
    width: 100%;
    text-align: center;
}

#pop_up textarea {
    display: block;
    float: left;
    width: 50%;
    text-align: left;
    resize: none;
    height: 100px;
    padding: 5px;
}

#pop_up .ui-button {
        margin-left: 10px;
    margin-top: 5px;
    padding: 0 15px;
}

#pop_up #edit{ 
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 12px -1px rgba(50, 50, 50, 0.6) inset;
    color: #000000;
    display: block;
    height: auto;
    margin: 100px auto;
    padding: 10px 20px 40px 20px;
    position: relative;
    width: 500px;
    z-index: 1100;
}
#pop_up #conn {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 12px -1px rgba(50, 50, 50, 0.6) inset;
    color: #000000;
    display: block;
    height: auto;
    margin: 100px auto;
    padding: 10px 20px 40px 20px;
    position: relative;
    width: 500px;
    z-index: 1100;
}

#pop_up #fields {
    width: 500px;
    height: auto;
    
}
#pop_up #fields input {
    
}

#pop_up #fields span {     
    display: inline-block;
    overflow: visible;
}
#pop_up #fields span input {
    width: 10px;
}
#pop_up #fields span label {
  text-align: left;
    width: 130px;
}

#pop_up #add_fields {
    margin: 0 auto;
    padding-bottom: 10px;
}
#pop_up #add_field_btn {
    cursor: pointer;
    height: 16px;
    left: 330px;
    margin-top: -1px;
    position: absolute;
    width: 16px;
}

#pop_up #colorpicker {
    position: relative;
    width:200px;
    height: 100px;
    display: block;
}

#pop_up #conn #curviness {
    border: 1px solid #d8d0db;
    display: block;
    float: left;
    height: 14px;
    line-height: 28px;
    margin: 5px 0 0 45px;
    padding: 4px 8px 0;
    width: 187px;
}

#pop_up #conn #curviness #amount {
   float: left;
    margin: -8px 0 0 -44px;
    font-weight: bold;
    color: #2C3E50;
}

#pop_up #conn #curviness_value {
    position: relative;
    line-height: 28px;
}

#pop_up #conn .settings {
    margin-bottom: 10px;
}



#pop_up #loader {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 12px -1px rgba(50, 50, 50, 0.6) inset;
    color: #000000;
    display: block;
    height: auto;
    margin: 100px auto;
    padding: 10px 20px 40px 20px;
    position: relative;
    width: 500px;
    z-index: 1100;
}
#pop_up #loader #load_list {
    
}
#pop_up #loader #load_list li {
    cursor: pointer;
    padding: 5px 10px;
    width: 85%;
    color: black;
}
#pop_up #loader #load_list .ui-selecting { background: #FECA40; }
#pop_up #loader #load_list .ui-selected { background: #F39814; color: white;  }

#pop_up #export {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 12px -1px rgba(50, 50, 50, 0.6) inset;
    color: #000000;
    display: block;
    height: auto;
    margin: 100px auto;
    padding: 10px 20px 40px 20px;
    position: relative;
    width: 500px;
    z-index: 1100;
}

